$backgroung-color:  #ede0d4;
$card-background: #28a745;
$brown: #A5682A;

body{
	background-color: $backgroung-color !important;
}

.navbar.navbar-expand-lg{
	opacity: 0.8;
	background-color: darken($backgroung-color, 50%);
	.navbar-toggler{
		cursor: pointer;
	}
	.navbar-brand{
		a{
			text-decoration: none;
			color: white;
		}
		
	}
	.navbar-nav{
		li{
			a{
				border-bottom: 3px solid transparent;
				color: white;
				text-decoration: none;
			}
		}
	}
}

ul.list{

	background-color: $card-background;
	color: white;
	
	img.d-flex{
		width: 200px;
		height: 150px;
	}

	h5{

		a{
			text-decoration: none;
			color: white;
		}

		a:hover{
			border-bottom: 3px solid $brown;
			transition: all 700ms;
		}

	}

	
}

.card{
	img.d-flex{
		width: 100%;
		height: 150px;
	}
	h5{
		
		a{
			text-decoration: none;
			color: white;
		}
	
		a:hover{
			border-bottom: 3px solid $brown;
			transition: all 700ms;
		}
	
	}
	p.card-text{
		font-size: 1rem !important;
		margin-bottom: 0.75rem;
	}
}

.jumbotron{
	padding: 40px;
	border-radius: 5px;
	box-shadow: 2px 4px 1px #ccc;
}

.navbar-nav a.active{
	border-bottom: 3px solid $brown !important;
}
.navbar .navbar-nav > li{
	margin-right: 15px;
}



.carousel-item > img{
	height: 300px;
}



.navbar-nav {
	li 
		{
			a:hover{
				border-bottom: 3px solid $brown;
				transition: all 700ms;
		}
	}
} 

.button_transition{
	padding: 10px;
	background: red;
	color: white;
	border-radius: 20px;
	border: 2px solid black;
	transition: border 2s, border-radius 500ms, background 5s;
	display: block;
	width: 100px;
}

.button_transition:hover{
	text-decoration: none;
	color: white;
	cursor: pointer;
	border-radius: 2px;
	background: #ccc;
	border: 1px solid red;
}

.animated_box{
	margin-top: 15px;
	background: green;
	border: 5px solid black;
	width: 100px;
	height: 100px;
	animation-name: slide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

span.op{
	opacity: 0.4;
	color: red;
	padding: 0px;
	margin-left: 10px;
	cursor: default;
}


.logo{
	width: 50px;
}

.image_for_edit img{
	width: 60px;
}

.avatar{
	width: 30px;
	height: 30px;
	border-radius: 500px;
	overflow: visible;
	margin-top: 10px;
	margin-right: 0px;
}

@keyframes rotation{
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes slide{
	0% {
		margin-left: 0px;
		transform: rotate(0deg);
	}
	25%{
		margin-left: 400px;
		background: red;
		border-radius: 35px;
	}
	75% {
		margin-left: 0px;
		background: yellow;
		border-radius: 0px
	}
	100%{
		background: blue;
		transform: rotate(360deg);
	}
}
