
<div class="alert alert-{{status}}" *ngIf="status">{{message}}</div>
<div class="container">
  <h1>{{title}}
    <div class="row">
      <div class="col-12">
        <div class="carousel slide mb-5" id="slider" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#slider" data-slide-to="0"></li>
            <li data-target="#slider" data-slide-to="1"></li>
            <li data-target="#slider" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" *ngFor="let notice of news | slice:0:1"><img class="d-block img-fluid" src="{{url + '/get-image-file-news/' + notice.image}}" alt="image"/>
              <div class="carousel-caption d-none d-md-block">
                <h3>{{notice.title}}</h3>
              </div>
            </div>
            <div class="carousel-item" *ngFor="let notice of news | slice:1:3 ; let i = index"><img class="d-block img-fluid all-screen" src="{{url + '/get-image-file-news/' + notice.image}}" alt="image"/>
              <div class="carousel-caption d-none d-md-block">
                <h3>{{notice.title}}</h3>
              </div>
            </div>
          </div><a class="carousel-control-prev" href="#slider" data-slide="prev"><span class="fa fa-arrow-circle-o-left"></span></a><a class="carousel-control-next" href="#slider" data-slide="next"><span class="fa fa-arrow-circle-o-right"></span></a>
        </div>
      </div>
    </div>
  </h1>
</div>