
<h3>{{title}}</h3>
<div class="alert alert-{{status}}" *ngIf="status">{{message}}</div>
<form #formAddVeterinary="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label>Nombre</label>
      <input class="form-control" type="text" name="nombre" #name="ngModel" [(ngModel)]="veterinary.name" required="required" placeholder="ej: veterinaria amigos de los animales"/>
    </div>
    <div class="form-group col">
      <label>Telefono</label>
      <input class="form-control" type="text" name="phone" #phone="ngModel" [(ngModel)]="veterinary.phone" placeholder="ej: 47851778" required="required"/>
    </div>
  </div>
  <div class="form-group">
    <label>Correo Electronico</label>
    <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="veterinary.email" placeholder="ej: caninos@gmail.com"/>
  </div>
  <div class="form-group">
    <label>Direccion</label>
    <input class="form-control" type="text" name="adress" #adress="ngModel" [(ngModel)]="veterinary.adress" placeholder="ej: cra 82 N 42 36" required="required"/>
  </div>
  <div *ngIf="veterinary.image != ''"><img class="img-fluid img-thumbnail border border-success" src="{{url + '/get-image-file-veterinary/' + veterinary.image}}"/></div>
  <div class="form-group">
    <label>Foto de la veterinaria</label>
    <input class="form-control-file" type="file" placeholder="Subir foto..." (change)="fileChangeEvent($event)"/>
    <p class="text-muted">Max 3 MB</p>
  </div>
  <div class="form-group">
    <input class="btn btn-success" type="submit" value="{{title}}"/>
  </div>
</form>