
<div class="col-lg-9 container">
  <h3>{{title}}</h3>
  <div class="alert alert-{{status}}" *ngIf="status">{{message}}</div>
  <form class="col-lg-5 was-validated" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Correo Electronico</label>
      <input class="form-control" type="email" #email="ngModel" [(ngModel)]="user.email" name="email" required="required"/><span class="invalid-feedback" *ngIf="!email.valid && email.touched">el email es obligatorio</span>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" #pass="ngModel" [(ngModel)]="user.pass" name="pass" required="required"/><span class="invalid-feedback" *ngIf="!pass.valid && pass.touched">la contraseña es obligatorio</span>
    </div>
    <input class="btn btn-success btn-block" type="submit" value="Ingresar" [disabled]="!loginForm.valid"/>
  </form>
</div>